html
{    
    font-size : 22px;    
}

.welcoming
{
    font-size: 2rem;
    color: rgb(241, 197, 245);
    text-align: center;
    margin-top: 2rem;
    margin-top: 128px;
    
}

.outro
{
    font-size: 12px;
}

footer
{
    padding-top: 565px;
}

hr{
    border: 2px solid #754980;
}

.spechr
{
    border: 1px dotted #5f2f6b;
}

body 
{
    background-color: #23162b;
    color: rgb(245, 197, 197);
}

input 
{
     margin-bottom: 22px; 
}

a
{
    color: rgb(255, 154, 154);
}

a:visited
{
    color: rgb(245, 197, 197);
}

a:hover ,a:active
{
    color: rgb(255, 233, 233);
}

table, tr, th, td , caption
{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}